endpoint_add_tcp 0.0.0.0:30120
endpoint_add_udp 0.0.0.0:30120
sv_enforceGameBuild 2802
sv_maxClients 10
sv_licenseKey ""
sets sv_projectName "SEX Framework"
sets sv_projectDesc "SEX Framework"
#set onesync_population false
ensure sex_menu
ensure sex_core
